  <footer class="footer">

    <div class="footer_container">
      <!-- Ícone da casa -->
      <div class="footer_logo">
        <img src="/static/img/icons/white_minimal_home_icon2.svg" alt="Ícone Casa">
      </div>

      <!-- Informações de contato -->
      <div class="footer_info">
        <div class="info_item">
          <img src="/static/img/icons/icons8-casa-100.svg" alt="">
          <p>Bresolin Negócios Imobiliários</p>
        </div>

        <div class="info_item">
          <img src="/static/img/icons/icons8-magnifying-glass.svg" alt="">
          <p>CNPJ: 63.188.628/0001-82</p>
        </div>

        <div class="info_item">
          <img src="/static/img/icons/icon_phone.svg" alt="">
          <p>(51) 98170-2045</p>
        </div>

        <a href="https://www.instagram.com/bresolin.imoveis" target="_blank">
          <div class="info_item">
            <img src="/static/img/icons/icon_instagram.svg" alt="">
            <p>@bresolin.imoveis</p>
            <div class="link-imagem">
              <img src="/static/img/icons/icon_link.svg" alt="">
            </div>
          </div>
        </a>

        <div class="info_item">
          <img src="/static/img/icons/icon_mail.svg" alt="">
          <p>imobiliariabresolin@gmail.com</p>
        </div>

      </div>
    </div>

    <p class="footer_copyright">© 2025 Imóveis Bresolin. Todos os direitos reservados.</p>
  </footer>
