
/* ================================
   Carregar Fontes
   ================================ */

/* Extra Light */
@font-face {
  font-family: 'Spectral';
  src: url('/static/fonts/spectral/Spectral-ExtraLight.woff2') format('woff2'),
    url('/static/fonts/spectral/Spectral-ExtraLight.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

/* Regular */
@font-face {
  font-family: 'Spectral';
  src: url('/static/fonts/spectral/Spectral-Regular.woff2') format('woff2'),
    url('/static/fonts/spectral/Spectral-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: 'Spectral';
  src: url('/static/fonts/spectral/Spectral-Bold.woff2') format('woff2'),
    url('/static/fonts/spectral/Spectral-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}


/* ================================
   CABEÇALHO
================================== */
header {
  background-color: #1d1d1d;
  color: white;
  width: 100vw;
  position: relative;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 3vw 5vw;  /* vertical | horizontal */
}

/* Esquerda */
.header-left {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

/* Centro */
.header-center {
  margin-top: 2vw;
  flex: 1;
  display: flex;
  justify-content: center;
}

/* Direita */
.header-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}


/* ======== BOtão Voltar ====== */
.btn-voltar {
  background: none;
  border: none;
  cursor: pointer;
}

.btn-voltar img {
  width: 5vw;
  height: auto;
  transition: transform 0.2s;
}

.btn-voltar:hover img {
  transform: scale(1.1);
}


/* ======== Titulo ======== */
.title_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 6vw;
  margin: 0;
}

.title_container h1 {
  font-family: 'Spectral';
  font-size: 6vw;
  font-weight: 100;
  letter-spacing: 2.25vw;
  margin-left: 1vw;
}

.title_container h2 {
  font-family: 'Spectral';
  font-weight: 100;
  font-size: 2vw;
  letter-spacing: 1vw;
}



/* ================================
   Rodapé estilo cartão de visita
   ================================ */

.footer {
  background-color: #1c1c1c;
  color: #fff;
  padding: 2rem 1rem;
  font-family: 'Segoe UI', Tahoma, sans-serif;
  text-align: center;
}

.footer_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin: auto;
}

.footer_logo img {
  height: 120px;
  width: auto;
}

.footer_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
}

.info_item {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  font-size: 0.95rem;
}

.info_item img {
  width: 20px;
  height: 20px;
}

.footer_copyright {
  margin-top: 2rem;
  font-size: 0.75rem;
  color: #aaa;
}


