<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title>Bresolin Imóveis</title>

  <meta charset="UTF-8" />
  <meta name="viewport"     content="width=device-width, initial-scale=1.0" />
  <meta name="theme-color"  content="#191a1d" />
  <meta name="color-scheme" content="light" />

  <link rel="icon"          href="/static/img/icon.png" type="image/png" />
  <link rel="shortcut icon" href="/static/img/icon.png" type="image/png" />
  <link rel="stylesheet"    href="/static/css/components/card_imovel.css">
  <link rel="stylesheet"    href="/static/css/style.css" />

</head>

<body>

  <!-- HERO SECTION -->
  <section class="hero">
    <div class="hero-content">

      <div class="hero-title">
        <h2>IMÓVEIS</h2>
        <h1>BRESOLIN</h1>
      </div>

      <p>Encontre o imóvel ideal para você</p>


      <div>
        <form id="form-busca" action="/pesquisa" method="GET">
         
          <!-- Pretensão-->
          <div class="form-group">
            <label for="pretensao">Pretensão</label>
            <select name="pretensao" id="pretensao" required>

              <option value="comprar">Comprar</option>
              <option value="alugar">Alugar</option>

            </select>
          </div>

          <!-- Tipo de Imóvel -->
          <div class="form-group">
            <label for="tipo">Tipo de imóvel</label>
            <select name="tipo" id="tipo" required>

              <option value="casa">Casa</option>
              <option value="apartamento">Apartamento</option>
              <option value="loft">Loft</option>

            </select>
          </div>

          <!-- Palavras chaves -->
          <div class="form-group">
            <label for="termo">Palavras-chave</label>
            <input type="text" name="termo" id="termo" placeholder="Digite região, bairro ou ID" />
          </div>
          
          <!-- Botão-->
          <button type="submit">Encontrar Imóvel</button>
        </form>
      </div>

    </div>
  </section>

  <!-- Lista de imóveis recentes via cs -->
  <main>
    <section id="lista-imoveis">
    </section>
  </main>

  <script src="/static/js/main.js"></script>
</body>

</html>