<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title>Bresolin Imóveis</title>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="theme-color" content="#191a1d" />
  <meta name="color-scheme" content="light" />

  <link rel="icon" href="/static/img/icon.png" type="image/png" />
  <link rel="shortcut icon" href="/static/img/icon.png" type="image/png" />
  <link rel="stylesheet" href="/static/css/components/card_imovel.css">
  <link rel="stylesheet" href="/static/css/style.css" />

</head>

<body>

  <!-- HERO SECTION -->
  <section class="hero">
    <div class="hero-content">

      <div class="hero-title">
        <h1>BRESOLIN</h1>
        <h2>NEGÓCIOS IMOBILIÁRIOS</h2>
      </div>

      <p>Encontre o imóvel ideal para você</p>


      <div>
        <form id="form-busca" action="/pesquisa" method="GET">

          <!-- Pretensão-->
          <div class="form-group">
            <label for="pretensao">Pretensão</label>
            <select name="pretensao" id="pretensao" required>

              <option value="comprar">Comprar</option>
              <option value="alugar">Alugar</option>

            </select>
          </div>

          <!-- Tipo de Imóvel -->
          <div class="form-group">
            <label for="tipo">Tipo de imóvel</label>
            <select name="tipo" id="tipo" required>

              <option value="casa">Casa</option>
              <option value="apartamento">Apartamento</option>
              <option value="loft">Loft</option>

            </select>
          </div>

          <!-- Palavras chaves -->
          <div class="form-group">
            <label for="termo">Palavras-chave</label>
            <input type="text" name="termo" id="termo" placeholder="Digite região, bairro ou ID" />
          </div>

          <!-- Botão-->
          <button type="submit">Encontrar Imóvel</button>
        </form>
      </div>

    </div>
  </section>

  <!-- Lista de imóveis recentes via cs -->
  <main>
    <section id="lista-imoveis">
    </section>
  </main>

  <!----------------------  Rodapé  ----------------->
<footer class="footer">
  <div class="footer_container">

    <!-- Ícone da casa -->
    <div class="footer_logo">
      <img src="/static/img/icons/white_minimal_home_icon2.svg" alt="Ícone Casa">
    </div>

    <!-- Informações de contato -->
    <div class="footer_info">
      <div class="info_item">
        <img src="/static/img/icons/icon_user.svg" alt="">
        <p>Otávio Bresolin</p>
      </div>
      <div class="info_item">
        <img src="/static/img/icons/icon_phone.svg" alt="">
        <p>(51) 98170-2045</p>
      </div>
      <div class="info_item">
        <img src="/static/img/icons/icon_instagram.svg" alt="">
        <p>@bresolin.imoveis</p>
      </div>
      <div class="info_item">
        <img src="/static/img/icons/icon_mail.svg" alt="">
        <p>otavio.bresolin@creci.org.br</p>
      </div>
      <div class="info_item">
        <img src="/static/img/icons/icons8-casa-100.svg" alt="">
        <p>Creci nº 82905</p>
      </div>
    </div>

  </div>

  <p class="footer_copyright">© 2025 Imóveis Bresolin. Todos os direitos reservados.</p>
</footer>


  <script src="/static/js/main.js"></script>
</body>

</html>