<!DOCTYPE html>
<html lang="pt-br" class="no-scroll">

<head>
  <title>Bresolin Imóveis</title>
  <link rel="icon" href="/static/img/icons/favicon_bresolin_rounded.png" type="image/png">

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="theme-color" content="#1c1c1c" />
  <meta name="color-scheme" content="dark" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <link rel="stylesheet" href="/static/css/components/card_imovel.css">
  <link rel="stylesheet" href="/static/css/style.css" />
  <link rel="stylesheet" href="/static/css/global.css" />

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body class="no-scroll">
  <!-- Tela de carregamento com animação traçada -->
  <!-- Loader com SVG dividido em duas partes -->
  <div class="loading-container">
    <svg class="logo-animate" viewBox="-0.8 -10.8 21.6 21.6">

      <!-- Telhado -->
      <path id="path-1" d="M 0 0 L 10 -10 L 20 0" stroke="#FFFFFF" stroke-width="0.8" fill="none" stroke-linecap="round"
        stroke-linejoin="round" />

      <!-- Corpo da casa -->
      <path id="path-2" d="M 2 0 V 10 H 18 V 0" stroke="#FFFFFF" stroke-width="0.8" fill="none" stroke-linecap="round"
        stroke-linejoin="round" />

    </svg>
  </div>

  <!-- HERO SECTION -->
  <section class="hero">
    <div class="hero-content">
      <div class="hero-title">
        <h1>BRESOLIN</h1>
        <h2>NEGÓCIOS IMOBILIÁRIOS</h2>
      </div>

      <p>Encontre o imóvel ideal para você</p>


      <div>
        <form id="form-busca" action="/pesquisa" method="GET">

          <!-- Pretensão-->
          <div class="form-group">
            <label for="pretensao">Pretensão</label>
            <select name="pretensao" id="pretensao" required>

              <option value="comprar">Comprar</option>
              <option value="alugar">Alugar</option>

            </select>
          </div>

          <!-- Tipo de Imóvel -->
          <div class="form-group">
            <label for="tipo">Tipo de imóvel</label>
            <select name="tipo" id="tipo" required>

              <option value="casa">Casa</option>
              <option value="apartamento">Apartamento</option>
              <option value="loft">Loft</option>
              <option value="terreno">Terreno</option>

            </select>
          </div>

          <!-- Palavras chaves -->
          <div class="form-group" style="position: relative;">
            <label for="termo">Palavras-chave</label>
            <input type="text" name="termo" id="termo" placeholder="Digite região, bairro ou ID" autocomplete="off" />
            <div id="sugestoes-termo" class="sugestoes"></div>
          </div>

          <!-- Botão-->
          <button type="submit">Encontrar Imóvel</button>
        </form>
      </div>

    </div>
  </section>

  <!-- Lista de imóveis recentes via cs -->

  <div class="main">
    <div>
      <div class="titulo">
        <h1>Melhores Imóveis</h1>
      </div>
      <section id="lista-imoveis"></section>
    </div>
  </div>

  <div class="ver-mais-container">
    <a href="/pesquisa" class="btn-ver-mais">Ver mais imóveis</a>
  </div>

  <!----------------------  Rodapé  ----------------->
  <footer class="footer">

    <div class="footer_container">
      <!-- Ícone da casa -->
      <div class="footer_logo">
        <img src="/static/img/icons/white_minimal_home_icon2.svg" alt="Ícone Casa">
      </div>

      <!-- Informações de contato -->
      <div class="footer_info">
        <div class="info_item">
          <img src="/static/img/icons/icon_user.svg" alt="">
          <p>Otávio Bresolin</p>
        </div>

        <div class="info_item">
          <img src="/static/img/icons/icons8-casa-100.svg" alt="">
          <p>Creci nº 82905</p>
        </div>

        <div class="info_item">
          <img src="/static/img/icons/icon_phone.svg" alt="">
          <p>(51) 98170-2045</p>
        </div>

        <a href="https://www.instagram.com/bresolin.imoveis" target="_blank">
          <div class="info_item">
            <img src="/static/img/icons/icon_instagram.svg" alt="">
            <p>@bresolin.imoveis</p>
            <div class="link-imagem">
              <img src="/static/img/icons/icon_link.svg" alt="">
            </div>
          </div>
        </a>

        <div class="info_item">
          <img src="/static/img/icons/icon_mail.svg" alt="">
          <p>otavio.bresolin@creci.org.br</p>
        </div>

      </div>
    </div>

    <p class="footer_copyright">© 2025 Imóveis Bresolin. Todos os direitos reservados.</p>
  </footer>

  <script src="/static/js/main.js"></script>

  <a href="https://wa.me/5551981702045" class="whatsapp-float" target="_blank" rel="noopener noreferrer">
    <img src="/static/img/icons/whatsapp_logo.png" alt="WhatsApp" />
  </a>
</body>

</html>