/* ================================
   Estilos padrão - MOBILE FIRST
   ================================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;

}

:root {
  color-scheme: dark only;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  background-repeat: repeat-y;
  background-size: 100%;
  background-position: center;
  overflow-x: hidden;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

a:active,
a:hover {
  color: inherit;
}

html.no-scroll,
body.no-scroll {
  overflow: hidden;
  min-width: 100%;
}

/* ================================
   Carregar Fontes
   ================================ */

/* Extra Light */
@font-face {
  font-family: 'Spectral';
  src: url('/static/fonts/spectral/Spectral-ExtraLight.woff2') format('woff2'),
    url('/static/fonts/spectral/Spectral-ExtraLight.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

/* Regular */
@font-face {
  font-family: 'Spectral';
  src: url('/static/fonts/spectral/Spectral-Regular.woff2') format('woff2'),
    url('/static/fonts/spectral/Spectral-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: 'Spectral';
  src: url('/static/fonts/spectral/Spectral-Bold.woff2') format('woff2'),
    url('/static/fonts/spectral/Spectral-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}



/* ================================
   Tela de carregamento
   ================================ */
.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #1d1d1d;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  transition: opacity 0.6s ease;
}

.logo-animate {
  width: 100px;
  height: auto;
}

.logo-animate path {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
}


/* ================================
   HERO SECTION
   ================================ */

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* alinha horizontalmente */

  width: 100vw;
  height: 100vh;
  background: radial-gradient(circle, #303030 0%, #1d1d1d 70%);
  color: white;
}

.hero-content {
  max-width: 700px;
  width: 100%;
  text-align: center;
  /* Centraliza os textos */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Centraliza os elementos internos */
}


/* VERSION 2 ====================== */
.hero-title {
  font-family: 'Spectral';
  margin-top: 20vw;
  margin-bottom: 1rem;
  margin-left: 0.8rem;
  line-height: 2.2rem;

}

/* BRESOLIN */
.hero h1 {
  margin-left: 0.4rem;
  font-size: 2.2rem;
  letter-spacing: 1.0rem;
  font-weight: 100;
}

/* Negocios imobiliarios */
.hero h2 {
  margin-left: -0.3rem;
  font-size: 1rem;
  letter-spacing: 0.25rem;
  font-weight: 100;
}

.hero p {
  margin-top: 17vw;
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(201, 201, 201);
}

#form-busca {
  width: 18rem;
  margin-top: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* <- adicionado */
  gap: 1.5rem;

  padding: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background: rgba(117, 116, 116, 0.04);
  border-radius: 12px;
  box-shadow: 0.25rem 0.25rem 2rem rgba(0, 0, 0, 0.719);
}

.form-group {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 8px;
  padding: 0.6rem 1rem 0.4rem;
  box-shadow: 0 2px 6px #0002;
  border: 1px solid #ccc;
  width: 100%;
}

.form-group label {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
  color: rgba(53, 52, 52, 0.719);
  margin-bottom: 0.3rem;
  text-align: left;
  width: 100%;
}

.form-group select,
.form-group input {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  outline: none;
  font-size: 1rem;
  background: transparent;
  padding: 0.3rem 0;
  color: #111;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.form-group select option {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  background: #fff;
  color: #222;
  padding: 0.5rem;
}

#form-busca button {
  width: 100%;
  margin-top: 1rem;
  padding: 0.9rem;
  border-radius: 8px;
  background: #0077bb;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 6px #0003;
  transition: background 0.3s, transform 0.2s;
}

#form-busca button:hover {
  background: #005f99;
  transform: scale(1.02);
}

/* ================================
   PRINCIPAIS IMÓVEIS 
   ================================ */


.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.titulo {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #111;
  text-align: left;
  margin-top: 2vw;
  margin-left: 14.5vw;
  margin-right: 10vw;
  margin-bottom: 5vw;
}

.titulo h1 {
  font-size: 10vw;
}

/*#lista-imoveis { */
#lista-destaques {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin: 0vw 5vw;
}

/* ============================
   Botão "Ver mais imóveis"
============================ */
.ver-mais-container {
  text-align: center;
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}

.btn-ver-mais,
.btn-ver-mais:visited {
  background-color: #007BFF;
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 1rem 2rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  display: inline-block;
  text-decoration: none;
}

.btn-ver-mais:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}



/* ============================
   BSugestões de pesquisa
============================ */
.sugestoes {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  z-index: 1000;
  max-height: 150px;
  overflow-y: auto;
  display: none;
  color: black;
  text-align: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sugestoes div {
  padding: 8px;
  cursor: pointer;
}

.sugestoes div:hover {
  background: #f0f0f0;
}



/* TABLETS ======================*/
@media (min-width: 768px) {

  /* ================================
   Tela de carregamento
   ================================ */
  .logo-animate {
    width: 100px;
    height: auto;
  }

  .logo-animate path {
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
  }

  /* ================================
   HERO SECTION
   ================================ */
  .hero-title {
    margin-top: 6vw;
    margin-bottom: 1rem;
    margin-left: 0.8rem;
    line-height: 2.7vw;
  }

  /* BRESOLIN */
  .hero h1 {
    margin-left: 0.1vw;
    font-size: 3.5vw;
    letter-spacing: 0.6vw;
    font-weight: 100;
  }

  /* Negocios imobiliarios */
  .hero h2 {
    margin-left: -0.3rem;
    font-size: 1vw;
    letter-spacing: 0.4vw;
    font-weight: 100;
  }

  .hero p {
    margin-top: 2vw;
    font-size: 1vw;
    font-weight: 400;
  }


  #form-busca {
    width: 20vw;
    margin-top: 1vw;
    gap: 2.3vw;
    padding: 2vw;
    padding-left: 3vw;
    padding-right: 3vw;
    border-radius: 12px;
    box-shadow: 0.25rem 0.25rem 2rem rgba(0, 0, 0, 0.719);
  }

  .form-group {
    border-radius: 8px;
    padding: 0.8vw 0.8vw 0.4vw;
    box-shadow: 0 2px 6px #0002;
    border: 0.1vw solid #ccc;
    width: 100%;
  }

  .form-group label {
    font-weight: 500;
    font-size: 0.8vw;
    color: rgba(53, 52, 52, 0.719);
    margin-bottom: 0.3rem;
    text-align: left;
    width: 100%;
  }

  .form-group select,
  .form-group input {
    font-weight: 500;
    font-size: 1vw;
    padding: 0.2vw 0;
  }

  .form-group select option {
    font-size: 1vw;
    padding: 0.5rem;
  }

  #form-busca button {
    width: 100%;
    margin-top: 1.2vw;
    padding: 1vw;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1.2vw;
    box-shadow: 0 0.2vw 0.2vw #0003;

  }

  #form-busca button:hover {
    transform: scale(1.03);
  }


  .titulo {
    margin: 2vw 10vw;
  }

  /* ================================
   PRINCIPAIS IMÓVEIS 
   ================================ */

  #lista-destaques {
    gap: 1rem;
    margin: 0 20vw;
  }


  /* ================================
   Rodapé estilo cartão de visita
   ================================ */

  .footer {
    background-color: #1c1c1c;
    color: #fff;
    padding: 2rem 1rem;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    text-align: center;
  }

  .footer_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: nowrap;
    max-width: 900px;
    margin: auto;
  }

  .footer_logo img {
    height: 120px;
    width: auto;
  }

  .footer_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;
  }

  .info_item {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    font-size: 0.95rem;
  }

  .info_item img {
    width: 20px;
    height: 20px;
  }

  .footer_copyright {
    margin-top: 2rem;
    font-size: 0.75rem;
    color: #aaa;
  }


  /* ============================
   Botão "Ver mais imóveis"
============================ */
  .ver-mais-container {
    margin-top: 1em;
    margin-bottom: 3.5rem;
  }

  .btn-ver-mais,
  .btn-ver-mais:visited {
    font-size: 1.1rem;
    font-weight: 500;
    padding: 1rem 2rem;
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
}


/* DESKTOP ==================== */
/* Usar VW em titulos para não mudar com zoom */
@media (min-width: 1024px) {

  /* ================================
   Tela de carregamento
   ================================ */
  .logo-animate {
    width: 100px;
    height: auto;
  }

  /* ================================
   HERO SECTION
   ================================ */

  /* VERSION 2 ====================== */
  .hero-title {
    margin-top: 6vw;
    margin-bottom: 1rem;
    margin-left: 0.8rem;
    line-height: 2.7vw;
  }

  /* BRESOLIN */
  .hero h1 {
    margin-left: 0.1vw;
    font-size: 3.5vw;
    letter-spacing: 0.6vw;
    font-weight: 100;
  }

  /* Negocios imobiliarios */
  .hero h2 {
    margin-left: -0.3rem;
    font-size: 1vw;
    letter-spacing: 0.4vw;
    font-weight: 100;
  }

  .hero p {
    margin-top: 2vw;
    font-size: 1vw;
    font-weight: 400;
  }

  #form-busca {
    width: 20vw;
    margin-top: 1vw;
    gap: 2.3vw;
    padding: 2vw;
    padding-left: 3vw;
    padding-right: 3vw;
    border-radius: 12px;
    box-shadow: 0.25rem 0.25rem 2rem rgba(0, 0, 0, 0.719);
  }

  .form-group {
    border-radius: 8px;
    padding: 0.8vw 0.8vw 0.4vw;
    box-shadow: 0 2px 6px #0002;
    border: 0.1vw solid #ccc;
    width: 100%;
  }

  .form-group label {
    font-weight: 500;
    font-size: 0.8vw;
    color: rgba(53, 52, 52, 0.719);
    margin-bottom: 0.3rem;
    text-align: left;
    width: 100%;
  }

  .form-group select,
  .form-group input {
    font-weight: 500;
    font-size: 1vw;
    padding: 0.2vw 0;
  }

  .form-group select option {
    font-size: 1vw;
    padding: 0.5rem;
  }

  #form-busca button {
    width: 100%;
    margin-top: 1.2vw;
    padding: 1vw;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1.2vw;
    box-shadow: 0 0.2vw 0.2vw #0003;
  }

  .titulo {
    margin-left: 24vw;
  }

  .titulo h1 {
    font-size: 4vw;
  }


  /* ================================
   PRINCIPAIS IMÓVEIS 
   ================================ */

  #lista-destaques {
    gap: 3vw;
    margin: 0 20vw;
  }

  /* ============================
   Botão "Ver mais imóveis"
============================ */
  .ver-mais-container {
    margin-top: 3vw;
    margin-bottom: 3.5vw;
  }

  .btn-ver-mais,
  .btn-ver-mais:visited {
    font-size: 1.5vw;
    font-weight: 500;
    padding: 1vw 2vw;
    border-radius: 4vw;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }




}